.header{
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 80px;
}

.logo{
  font-size: 1.5rem;
  text-transform:uppercase;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 900;
}
